{% extends "halaman/base.html" %} {% load static %} {% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg2.jpg'%} ')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Data Pribadi</h1>
        
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="about-description text-center">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
        </div>
      </div>
    </div>
    <div class="about-team team-1">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Dengan Saya Sendiri.</h2>
  
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#pablo">
                <img class="img" src="{% static 'halaman/assets/img/faces/pakhridwahyudin.jpg' %}" />
              </a>
            </div>

            <div class="card-content">
              <h4 class="card-title">Muhammad Pakhrid Wahyudin</h4>
              <h6 class="category text-muted">Programmer</h6>

              <p class="card-description">Berkuliah Di Universitas Muhammadiyah Kalimantan Timur</p>
              <div class="footer">
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
