{% extends "halaman/base.html" %} {% load static %} {% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg'%} ')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="title">Contact_Muhammad Pakhrid Wahyudin</h1>
        <h4>Butuh bantuan Hubungi di bawah !.</h4>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="contact-content">
    <div class="container">
      <h2 class="title">Hubungi saya</h2>
      <div class="row">
        <div class="col-md col-md-12">
          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">pin_drop</i>
              </div>
              <div class="description">
                <h4 class="info-title">Alamat</h4>
                <p>
                  Universitas Muhammadiyah Kalimantan Timur<br />
                  Kost Suwandi Blok C No 60<br />
                  Samarinda
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">phone</i>
              </div>
              <div class="description">
                <h4 class="info-title">Give us a ring</h4>
                <p>
                  Muhammad Pakhrid Wahyudin<br />
                  +62 82149744937<br />
                  Mon - Fri, 8:00-22:00
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">business_center</i>
              </div>
              <div class="description">
                <h4 class="info-title">Legal Information</h4>
                <p>
                  Informasi Resmi Via Pembayaran<br />
                  VAT &middot; EN2341241<br />
                  via Dana &middot; 082149744937<br />
                  Bank &middot; BRI 081112228338384449
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
